body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 120px;
    background-color:darkcyan;
    padding: 20px;
}
.ortala{
    width: 75%;
    height: auto;
    margin: auto;
}
#baslik{
    width: 30%;
    height: 100px;
    float: left;
}
#baslik h1{
    margin: 0px;
    padding: 0px;
}
#baslik p{
    color: #fff;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}
#baslik a{
    color: #fff;
    font-size: 28px;
    text-decoration: none;
}
nav{
    width: 70%;
    height: 100px;
    float: left;
}
nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-top: 50px;
    float: right;
}
nav ul li{
    float: left;
    padding: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
nav ul li a:hover{
    color: black;
}

article{
    margin-top: 10px;
    height: auto;
}
#slider{
    background-color: darkcyan;
    width: 100%;
    height: 360px;
}

#slider h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    padding-top: 150px;
}
#slider h3{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
#icerik{
    height: 350px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
.kutu{
    float: left;
    height: auto;
    width: 32%;
}
.resimkutu{
    background-color: darkcyan;
    width: 100%;
    height: 176px;
    margin: 0px;
    margin-top: 10px;
}
.kutu h4{
    font-size: 20px;
    color: darkcyan;
    padding: 0px;
    margin-top: 10px;
    text-align: center;
}
.kutu p{
    font-weight: bold;
    color: darkcyan;
    font-size: 12px;
    text-align: justify;
}
.kutu a{
    font-size: 12px;
    color: darkcyan;
    float: right;
}
.resimkutu p{
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
    padding: 50px;
    padding-top:75px;
}
#alticerik{
    width: 100%;
    height: 320px;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
}
#altsol{
    width: 50%;
    height: 320px;
    float: left;
}
#altsag{
    width: 50%;
    height: 320px;
    float: right;
    background-color: darkcyan;
    color: #fff;
    font-size: 36px;
    text-align: center;
    
}
#altsol h3{
    font-size: 30px;
    color: darkcyan;
    text-align: center;
}
#altsol p{
    font-size: 20px;
    color: darkcyan;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
footer{
    width: 100%;
    background-color: darkcyan;
    height: 200px;
    margin-top: 10px;
}
.footerkutu{
    width: 32%;
    height: 180px;
    margin: 0px;
    padding: 5px;
    float: left;
}
.footerkutu h3{
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.footerkutu p{
    color: #fff;
    font-size: 18px;
    text-align: center;
}
