body{
	margin: 0px;
	padding: 0px;
}
header{
	background-image: url(../images/enust-arka.png);
	margin: 0px;
	height: 110px;
	width: 100%;
	padding-left: 0px;
}
.ortala{
	margin: auto;
	height: auto;
	width: 985px;
}
#logo{
	float: left;
	margin-top: 50px;
}
nav{
	float: left;
	background-color: red;
	height: 40px;
	width: 100%;
	line-height: 10px;
}
#menu{
	margin: 0px;
	padding: 0px;
}
#menu ul li{
	list-style-type: none;
	float: left;
	color: #fff;
	font-size: 16px;
	font-family: Cambria;
	font-style: italic;
	font-weight: bolder;
	margin-right: 40px;
}

article{
	background-image: url(../images/orta-arka.jpg);
	float: left;
	height: auto;
	width: 100%;
}
#duyuru{
	background-image: url(../images/duyuru_box_bg.png);
	height: 101px;
	width: 985px;
	margin-top: 20px;
	float: left;
}

#baslik{
	font-family: Cambria;
	font-size: 16px;
	font-weight: bolder;
	color: #339;
	float: left;
	height: auto;
	width: 100%;
	margin-top: 15px;
	padding-left: 10px;
}
#aciklama{
	float: left;
	height: auto;
	width: 100%;
	margin-top: 25px;
	padding-left: 10px;
}
#madde{
	background-image: url(../images/duyuru_icon.png);
	float: left;
	height: 10px;
	width: 6px;
	margin-top: 15px;
}
#duyurular{
	font-size: 16px;
	height: auto;
	width: auto;
	margin: 10px;
}
#icerikler{
	margin: 0px;
	padding: 0px;
}
.icerik{
	width: 480px;
	height: 250px;
	background-color: #fff;
	border-radius: 10px;
	float: left;
	margin-top: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
}
.resim{
	height: 130px;
	width: 480px;
}
.baslik2{
	font-size: 16px;
	height: auto;
	width: auto;
	margin: 10px;
	color: #339;
	font-family: Cambria;
	font-weight: bolder;
}
.metin{
	font-size: 12px;
	height: auto;
	width: auto;
	margin: 10px;
	color: #339;
	font-family: Cambria;
	font-weight: bold;
}
footer{
	width: 100%;
	background-image: url(../images/enust-arka.png);
	float: left;
	height: 110px;
}
#footermetin{
	float: right;
	font-size: 30px;
	height: auto;
	width: auto;
	color: #339;
	margin: 10px;
	font-family: Cambria;
	font-weight: bolder;
}










