/*
arka pla css elemanları

-background-color
-background-image
-background-repeat
-background-position

*/

body{
/*background-color: blanchedalmond;*/
background-image: url('bgcolor.jpg'); 
background-repeat: repeat-x;
background-repeat: repeat-y;
background-position: top center;
}

/*metin özellikleri
font-family: yazı tipi
font-size :yazı büyüklüğü
font-weight :kalın yazı
font-style :eğik yazı 
line-height : satırlar arası boşluğu belirler

color: metin rengi
text-align: hizalama
text-decoration: altı-üstü çizili yazma
text-transform: büyük küçük harf çevirme
text-indent: soldan girinti bırakma
letter-spacing: karakterler arası boşluk 
word-spacing: kelimeler arası boşluk

*/

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25em;
    font-weight: bolder;
    font-style: italic;
    line-height: 2em;
}

.parag{
    color:blue;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-indent: 40px;
    line-height: 2em;
    letter-spacing: 4px;
    word-spacing: 10px;
}


