h1{
    color: red;
    font-size: 36px;
    text-align: center;
}
ol{
    color:chocolate;
}

/*sınıf seçicisi tanımlama örneği*/
.parag{ 
    color: crimson;
    font-size: 16px;
}

/*id seçicisi tanımlama örneği*/
#parag1{
    color:deeppink;
    font-size: 18px;
}